# Node modules
node_modules/

# Backend env
portfolio-backend/.env

# Frontend env (root .env)
.env

# Optional: build/output folders for frontend
dist/
build/

# Ignore sensitive scripts
createAdmin.js